<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('申请关联')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <div class="col-xs-offset-1">
            <div class="pt5">
                <input type="text" id="userId" name="userId" placeholder="输入待申请的业务员编码">
                &nbsp;	<a class="btn btn-primary btn-rounded btn-sm" onclick="searchVailResult()"><i class="fa fa-search"></i>查询</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：申请关联后，需要对方确认【同意关联】，双方才能关联成功。查看业务员编码，请点击首页。
            </font>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var callback = function (result) {
            parent.layer.alert(result.msg);
        }
        function submitHandler() {
            var id = $("input[name='userId']").val();
            $.operate.syncSubmit("/businessteam/salesman/applicationAssociation","get","json",'id='+id,callback);
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
        function searchVailResult() {
            var id = $("input[name='userId']").val();
            $.operate.submit("/businessteam/salesman/checkVail4Id","get","json",'id='+id);
        }
    </script>
</body>
</html>