<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看商业任务明细信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-task-detail-query" th:object="${salesmanTask}">
            <h4 class="form-header h4">订单信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
            <br/>
            <h4 class="form-header h4 mt20">任务信息</h4>
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-2 control-label" >任务编号：</label><label class="col-sm-2 mt5" th:text="${salesmanTask.id}"></label>
                <label class="col-sm-2 control-label" >任务状态：</label><label class="col-sm-2 mt5" th:text="${@dict.getLabel('sys_order_status', salesmanTask.orderStatus)}"></label>
                <label class="col-sm-2 control-label" >所属团队：</label><label class="col-sm-2 mt5" th:text="${deptName}"></label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" >订单数量：</label><label class="col-sm-2 mt5" th:text="${orderNumber}"></label>
                <label class="col-sm-2 control-label" >任务总本金：</label><label class="col-sm-2 mt5" th:text="${totalPrincipal}"></label>
                <label class="col-sm-2 control-label" >实际总本金：</label><label class="col-sm-2 mt5" th:text="${actualTotalPrincipal}"></label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" >集团分配时间：</label><label class="col-sm-2 mt5" th:text="${#dates.format(salesmanTask.groupAllocateTime, 'yyyy-MM-dd HH:mm:ss')}"></label>
                <label class="col-sm-2 control-label" >业务组长分配时间：</label><label class="col-sm-2 mt5" th:text="${#dates.format(salesmanTask.allocateTime, 'yyyy-MM-dd HH:mm:ss')}"></label>
                <label class="col-sm-2 control-label" >完成时间：</label><label class="col-sm-2 mt5" th:text="${#dates.format(salesmanTask.completionTime, 'yyyy-MM-dd HH:mm:ss')}"></label>
            </div>
            <h4 class="form-header h4">任务资料</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">拍摄照片：</label>
                <div class="col-sm-9">
                    <div id="viewer" class="row">
                        <div class="col-sm-3 col-md-3" th:if="${not #strings.isEmpty(salesmanTask.feedbackPictureUrl1)}">
                            <a href="javascript:void(0)" class="thumbnail">
                                <img th:src="${salesmanTask.feedbackPictureUrl1}"  alt="缩略图">
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3" th:if="${not #strings.isEmpty(salesmanTask.feedbackPictureUrl2)}">
                            <a href="javascript:void(0)" class="thumbnail">
                                <img th:src="${salesmanTask.feedbackPictureUrl2}"  alt="缩略图">
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <a href="javascript:void(0)" class="thumbnail" th:if="${not #strings.isEmpty(salesmanTask.feedbackPictureUrl3)}">
                                <img th:src="${salesmanTask.feedbackPictureUrl3}"  alt="缩略图">
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <a href="javascript:void(0)" class="thumbnail" th:if="${not #strings.isEmpty(salesmanTask.feedbackPictureUrl4)}">
                                <img th:src="${salesmanTask.feedbackPictureUrl4}"  alt="缩略图">
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <a href="javascript:void(0)" class="thumbnail" th:if="${not #strings.isEmpty(salesmanTask.feedbackPictureUrl5)}">
                                <img th:src="${salesmanTask.feedbackPictureUrl5}"  alt="缩略图">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">任务备注：</label>
                <div class="col-sm-9">
                    <textarea name="remark" th:text="${salesmanTask.remark}" class="form-control" rows="3" readonly="ture"></textarea>
                </div>
            </div>
        </form>
        <div class="modal inmodal" id="goodsPictureModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">主图<span id="titlePicture"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4" id="viewer4GoodsPicture">
                                <a href="javascript:void(0)" class="thumbnail" onclick="closeGoodsPictureWin()">
                                    <img id="goodsPicture" src="#"  alt="缩略图">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal inmodal" id="buyerPictureModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">买家拍照<span id="titlePicture4Buyer"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4" id="viewer4BuyerPicture">
                                <a href="javascript:void(0)" class="thumbnail" onclick="closeBuyerPictureWin()">
                                    <img id="buyerPicture" src="#"  alt="缩略图">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var orderStatusDatas = [[${@dict.getType('sys_order_status')}]];

        var image = new Viewer(document.getElementById('viewer'),{
            fullscreen:false
        });

        $(function() {
            var options = {
                data: [[${salesmanTaskDetail}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'taskNo',
                    align: 'center',
                    title: '任务编码'
				},
                {
                    field: 'orderDate',
                    align: 'center',
                    title: '订单日期'
				},
                {
                    field: 'shopName',
                    align: 'center',
                    title: '店铺名'
                },
                {
                    field: 'callCenter',
                    align: 'center',
                    title: '客服'
                },
                {
                    field: 'pictureUrl',
                    align: 'center',
                    title: '商品主图',
                    formatter: function(value, row, index) {
                        return imageView(row.pictureUrl, index, row.taskNo);
                    }
				},
                {
                    field: 'keyword',
                    align: 'center',
                    title: '关键词'
                },
                {
                    field: 'unitPrice',
                    align: 'center',
                    title: '单价/元'
				},
                {
                    field: 'unitPriceRemark',
                    align: 'center',
                    title: '单价备注'
                },
                {
                    field: 'specialRemarks',
                    align: 'center',
                    title: '特殊备注'
                },
                {
                    field: 'platformNickname',
                    align: 'center',
                    title: '买家昵称'
                },
                {
                    field: 'promotersModifyUnitPrice',
                    align: 'center',
                    title: '实际单价/元'
                },
                {
                    field: 'salesmanCommitUrl',
                    align: 'center',
                    title: '买家拍照',
                    formatter: function(value, row, index) {
                        return imageView4Buyer(row.salesmanCommitUrl, index, row.taskNo);
                    }
                },
                {
                    field: 'promotersUnitPriceRemark',
                    align: 'center',
                    title: '买家备注'
                },
                {
                    field: 'status',
                    align: 'center',
                    title: '订单状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(orderStatusDatas, value);
                    }
                }]
            };
            $.table.init(options);
        });

        var viewer4GoodsPicture = new Viewer(document.getElementById('viewer4GoodsPicture'),{
            fullscreen:false
        });

        function closeGoodsPictureWin() {
            $('#goodsPictureModal').modal('hide');
        }

        function showPictureDialog(url,index,taskNo) {
            $("#titlePicture").html("-"+ (parseInt(index) + 1) + '-' + taskNo);
            $('#goodsPicture').attr('src',url);
            var trHtml = $("#form-task-detail-query").find("tr[data-index=" + index + "]").find(".goodsPicture");
            $("#goodsPictureModal").css({'margin-top': trHtml.offset().top});
            $('#goodsPictureModal').modal('show');
            $('.modal-open').find('.modal-backdrop').remove();
        }

        // 图片预览
        function imageView(url, index, taskNo) {
            if ($.common.isNotEmpty(url)) {
                return $.common.sprintf("<img class='img-circle img-xs goodsPicture' data-height='auto' data-width='auto'  src='%s' onclick='showPictureDialog(\"" + url + "\",\"" + index + "\",\"" + taskNo + "\")'/>", url);
            } else {
                return $.common.nullToStr(url);
            }
        }

        var viewer4BuyerPicture = new Viewer(document.getElementById('viewer4BuyerPicture'),{
            fullscreen:false
        });

        function closeBuyerPictureWin() {
            $('#buyerPictureModal').modal('hide');
        }

        function showPictureDialog4Buyer(url,index,taskNo) {
            $("#titlePicture4Buyer").html("-"+ (parseInt(index) + 1) + '-' + taskNo);
            $('#buyerPicture').attr('src',url);
            var trHtml = $("#form-task-detail-query").find("tr[data-index=" + index + "]").find(".buyerPicture");
            $("#buyerPictureModal").css({'margin-top': trHtml.offset().top});
            $('#buyerPictureModal').modal('show');
            $('.modal-open').find('.modal-backdrop').remove();
        }

        // 图片预览
        function imageView4Buyer(url, index, taskNo) {
            if ($.common.isNotEmpty(url)) {
                return $.common.sprintf("<img class='img-circle img-xs buyerPicture' data-height='auto' data-width='auto'  src='%s' onclick='showPictureDialog4Buyer(\"" + url + "\",\"" + index + "\",\"" + taskNo + "\")'/>", url);
            } else {
                return $.common.nullToStr(url);
            }
        }
    </script>
</body>
</html>