<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('radio表格页')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
		var associationStatusDatas = [[${@dict.getType('sys_association_status')}]];
		var userStatusDatas = [[${@dict.getType('sys_normal_disable')}]];

		$(function() {
			var options = {
				url: "/groupcompany/task/supplementOrderList",
				modalName: "今日补单信息",
				columns: [
					{
						radio: true
					},
					{
						field: 'id',
						title: '编号',
						align: 'center'
					},
					{
						field: 'taskNo',
						title: '任务编码',
						align: 'center'
					},
					{
						field: 'shopName',
						title: '店铺名称（非掌柜名）',
						align: 'center'
					},
					{
						field: 'callCenter',
						title: '客服',
						align: 'center'
					},
					{
						field: 'pictureUrl',
						title: '主图',
						align: 'center',
						formatter: function(value, row, index) {
							return $.table.imageView(row.pictureUrl,256,256);
						}
					},
					{
						field: 'unitPrice',
						title: '单价/元',
						align: 'center'
					},
					{
						field: 'specialRemarks',
						title: '特殊备注',
						align: 'center'
					},
					{
						field: 'keyword',
						title: '关键词',
						align: 'center'
					},
					{
						field: 'merchantUserName',
						title: '商家',
						align: 'center'
					}]
			};
			$.table.init(options);
		});
		var selectRow = function() {
			var rows = $.map($("#" + table.options.id).bootstrapTable('getSelections'), function (row) {
				var item1 = {
					id: $.common.getItemField(row, table.options.columns[1].field)
				}
				return item1;
			});
			if ($.common.isNotEmpty(table.options.rememberSelected) && table.options.rememberSelected) {
				var selectedRows = table.rememberSelecteds[table.options.id];
				if($.common.isNotEmpty(selectedRows)) {
					rows = $.map(selectedRows, function (row) {
						var item2 = {
							id: $.common.getItemField(row, table.options.columns[1].field)
						}
						return item2;
					});
				}
			}
			return $.common.uniqueFn(rows);
		}
		var callbackdata = function () {
			var rows = selectRow();
			if (rows.length == 0) {
				parent.layer.alert("请至少选择一条记录");
				return;
			}
			return rows;
		}
    </script>
</body>
</html>