<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.groupcompany.mapper.GroupOrderMapper">

    <resultMap type="GroupOrderRespDto" id="GroupOrderRespDtoResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskNo"    column="task_no"    />
        <result property="orderDate"    column="order_date"    />
        <result property="pictureUrl"    column="picture_url"    />
        <result property="shopName"    column="shop_name"    />
        <result property="callCenter"    column="call_center"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="unitPriceRemark"    column="unit_price_remark"    />
        <result property="specialRemarks"    column="special_remarks"    />
        <result property="keywork"    column="keywork"    />
        <result property="platformUrl" column="platform_url" />
        <result property="promotersModifyUnitPrice"    column="promoters_modify_unit_price"    />
        <result property="promotersUnitPriceRemark"    column="promoters_unit_price_remark"    />
        <result property="platformNickname" column="platform_nickname" />
        <result property="merchantUserId" column="merchant_user_id" />
        <result property="salesmanLeaderUserId" column="salesman_leader_user_id" />
        <result property="salesmanCommitUrl" column="salesman_commit_url"/>
        <result property="groupCompanyRemark" column="group_company_remark"/>
        <result property="status" column="status" />
    </resultMap>

    <resultMap type="MerchantOrder" id="MerchantOrderResult">
        <result property="orderDate"    column="order_date"    />
        <result property="shopName"    column="shop_name"    />
        <result property="promotersModifyUnitPrice"    column="promoters_modify_unit_price"    />
        <result property="platformNickname" column="platform_nickname" />
    </resultMap>

    <resultMap type="SalesmanLeaderOrder" id="SalesmanLeaderOrderResult">
        <result property="taskId"    column="task_id"    />
        <result property="orderDate"    column="order_date"    />
        <result property="shopName"    column="shop_name"    />
        <result property="groupCompanyRemark"    column="group_company_remark"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="promotersModifyUnitPrice"    column="promoters_modify_unit_price"    />
        <result property="platformNickname" column="platform_nickname" />
        <result property="salesmanLeaderUserId" column="salesman_leader_user_id" />
    </resultMap>
    <insert id="insertOrder" parameterType="GroupOrder" useGeneratedKeys="true" keyProperty="id">
        insert into dt_business_task_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="taskNo != null and taskNo != ''">task_no,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="pictureUrl != null and pictureUrl != ''">picture_url,</if>
            <if test="platformUrl != null and platformUrl != ''">platform_url,</if>
            <if test="shopName != null and shopName != ''">shop_name,</if>
            <if test="callCenter != null and callCenter != ''">call_center,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="unitPriceRemark != null and unitPriceRemark != ''">unit_price_remark,</if>
            <if test="specialRemarks != null and specialRemarks != ''">special_remarks,</if>
            <if test="keyword != null and keyword != ''">keyword,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="merchantUserId != null">merchant_user_id</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="taskNo != null and taskNo != ''">#{taskNo},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="pictureUrl != null and pictureUrl != ''">#{pictureUrl},</if>
            <if test="platformUrl != null and platformUrl != ''">#{platformUrl},</if>
            <if test="shopName != null and shopName != ''">#{shopName},</if>
            <if test="callCenter != null and callCenter != ''">#{callCenter},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="unitPriceRemark != null and unitPriceRemark != ''">#{unitPriceRemark},</if>
            <if test="specialRemarks != null and specialRemarks != ''">#{specialRemarks},</if>
            <if test="keyword != null and keyword != ''">#{keyword},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="merchantUserId != null">#{merchantUserId}</if>
        </trim>
    </insert>

    <update id="updateOrderPictureUrlById">
        update dt_business_task_detail set picture_url = #{pictureUrl} where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="supplementOrder">
        update dt_business_task_detail set  task_id = #{taskId},status = 1
        where id = #{id}
    </update>

    <select id="selectGroupOrderList" parameterType="GroupOrderRespDto" resultMap="GroupOrderRespDtoResult">
        select id,task_no,platform_url,picture_url,order_date,shop_name,call_center,unit_price_remark,special_remarks,unit_price,promoters_modify_unit_price,keyword,platform_nickname,salesman_leader_user_id,salesman_commit_url,status,promoters_unit_price_remark,merchant_user_id,group_company_remark
        from dt_business_task_detail
        <where>
            <if test="platformNickname != null and platformNickname != ''">platform_nickname like concat('%', #{platformNickname}, '%')</if>
            <if test="shopName != null and shopName != ''">and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="salesmanLeaderUserId != null">and salesman_leader_user_id = #{salesmanLeaderUserId}</if>
            <if test="merchantUserId != null">and merchant_user_id = #{merchantUserId}</if>
            <if test="startDate!=null">
                and order_date &gt;=  #{startDate}
            </if >
            <if test="endDate!=null">
                and order_date &lt;=  #{endDate}
            </if >
            <if test="status!=null and status != ''">
                and status = #{status}
            </if>
            <if test="taskId != null">
                and task_id = #{taskId}
            </if>
        </where>
        order by id desc
    </select>
    <select id="getMerchantOrderList" parameterType="MerchantOrder" resultMap="MerchantOrderResult">
        select order_date,shop_name,unit_price,promoters_modify_unit_price,platform_nickname
        from dt_business_task_detail
        <where>
            <if test="platformNickname != null and platformNickname != ''">platform_nickname like concat('%', #{platformNickname}, '%')</if>
            <if test="shopName != null and shopName != ''">and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="salesmanLeaderUserId != null">and salesman_leader_user_id = #{salesmanLeaderUserId}</if>
            <if test="merchantUserId != null">and merchant_user_id = #{merchantUserId}</if>
            <if test="startDate!=null">
                and order_date &gt;=  #{startDate}
            </if >
            <if test="endDate!=null">
                and order_date &lt;=  #{endDate}
            </if >
            <if test="status!=null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by id desc
    </select>
    <select id="selectSalesmanLeaderOrder" parameterType="SalesmanLeaderOrder" resultMap="SalesmanLeaderOrderResult">
        select task_id,order_date,shop_name,unit_price,promoters_modify_unit_price,platform_nickname,salesman_leader_user_id,group_company_remark
        from dt_business_task_detail
        <where>
            <if test="platformNickname != null and platformNickname != ''">platform_nickname like concat('%', #{platformNickname}, '%')</if>
            <if test="shopName != null and shopName != ''">and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="salesmanLeaderUserId != null">and salesman_leader_user_id = #{salesmanLeaderUserId}</if>
            <if test="merchantUserId != null">and merchant_user_id = #{merchantUserId}</if>
            <if test="startDate!=null">
                and order_date &gt;=  #{startDate}
            </if >
            <if test="endDate!=null">
                and order_date &lt;=  #{endDate}
            </if >
            <if test="status!=null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by id desc
    </select>
    <select id="selectGroupOrderDtoById" parameterType="GroupOrderRespDto" resultMap="GroupOrderRespDtoResult">
        select id,task_no,task_id,platform_url,picture_url,order_date,shop_name,call_center,unit_price_remark,special_remarks,unit_price,promoters_modify_unit_price,keyword,platform_nickname,salesman_leader_user_id,salesman_commit_url,status,promoters_unit_price_remark,merchant_user_id,group_company_remark
        from dt_business_task_detail
        where id = #{id}
    </select>
    <select id="selectOrderWithTodayAndNoNFinishByPlatformUrl" resultType="java.lang.Long">
        select id
        from dt_business_task_detail
        where
            status != 0
            and order_date = CURDATE()
            and platform_url = #{platformUrl}
    </select>
    <select id="selectSalesmanLeaderOrderById"
            parameterType="SalesmanLeaderOrder" resultMap="SalesmanLeaderOrderResult">
        select id,task_id,order_date,shop_name,unit_price,promoters_modify_unit_price,platform_nickname,salesman_leader_user_id,group_company_remark
        from dt_business_task_detail
        where
            id = #{id}
    </select>

    <select id="selectGroupOrderWithSupplementList" parameterType="GroupOrderRespDto" resultMap="GroupOrderRespDtoResult">
        select id,task_id,task_no,platform_url,picture_url,order_date,shop_name,call_center,unit_price_remark,special_remarks,unit_price,promoters_modify_unit_price,keyword,platform_nickname,salesman_leader_user_id,salesman_commit_url,status,promoters_unit_price_remark,merchant_user_id,group_company_remark
        from dt_business_task_detail
        where
            order_date = CURDATE()
            and task_id = 0
        order by id desc
    </select>

</mapper>