<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看商业任务明细信息')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-task-detail-query" th:object="${salesmanTask}">
            <h4 class="form-header h4">订单信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
            <br/>
            <h4 class="form-header h4 mt20">任务信息</h4>
            <input id="id" name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-2 control-label" >任务编号：</label><label class="col-sm-2 mt5" th:text="${salesmanTask.id}"></label>
                <label class="col-sm-2 control-label" >任务状态：</label><label class="col-sm-2 mt5" th:text="${@dict.getLabel('sys_order_status', salesmanTask.orderStatus)}"></label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" >集团分配时间：</label><label class="col-sm-2 mt5" th:text="${#dates.format(salesmanTask.groupAllocateTime, 'yyyy-MM-dd HH:mm:ss')}"></label>
                <label class="col-sm-2 control-label" >业务组长分配时间：</label><label class="col-sm-2 mt5" th:text="${#dates.format(salesmanTask.allocateTime, 'yyyy-MM-dd HH:mm:ss')}"></label>
                <label class="col-sm-2 control-label" >完成时间：</label><label class="col-sm-2 mt5" th:text="${#dates.format(salesmanTask.completionTime, 'yyyy-MM-dd HH:mm:ss')}"></label>
            </div>
            <h4 class="form-header h4">任务资料</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">拍摄照片：</label>
                <div class="col-sm-9">
                    <div class="file-loading">
                        <input id="taskfileinput" name="taskfileinput" type="file" multiple accept=".jpg,.png">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">任务备注：</label>
                <div class="col-sm-9">
                    <textarea name="remark" id="remark" th:text="${salesmanTask.remark}" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </form>
        <div class="modal inmodal" id="gavelModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">呢称验证<span id="titleGavel"></span></h4>
                    </div>
                    <div class="modal-body">
                        <input id="gavelId" name="gavelId" type="text" hidden>
                        <div class="row">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>买家昵称：</label>
                            <div class="col-sm-9">
                                <input id="platformNickname" name="platformNickname" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" onclick="validateNickName()">确定</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal inmodal" id="orderModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">提交订单<span id="titleOrder"></span></h4>
                    </div>
                    <div class="modal-body">
                        <input id="orderId" name="orderId" type="text" hidden>
                        <div class="row">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>拍摄照片：</label>
                            <div class="col-sm-9" >
                                <div class="file-loading">
                                    <input id="fileinput" name="fileinput" type="file" multiple accept=".jpg,.png">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>价格：</label>
                            <div class="col-sm-9">
                                <input type="text" id="promotersModifyUnitPrice" name="promotersModifyUnitPrice" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-9">
                                <textarea id="promotersUnitPriceRemark" name="promotersUnitPriceRemark" class="form-control" rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="commitOrder()">确定</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal inmodal" id="pictureModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">主图<span id="titlePicture"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4" id="viewer">
                                <a href="javascript:void(0)" class="thumbnail" onclick="closeWin()">
                                    <img id="goodsPicture" src="#"  alt="缩略图">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal inmodal" id="buyerPictureModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">买家拍照<span id="titlePicture4Buyer"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4" id="viewer4BuyerPicture">
                                <a href="javascript:void(0)" class="thumbnail" onclick="closeBuyerPictureWin()">
                                    <img id="buyerPicture" src="#"  alt="缩略图">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script th:inline="javascript">
        var orderStatusDatas = [[${@dict.getType('sys_order_status')}]];
        var nicknameVerificationDatas = [[${@dict.getType('nickname_verification')}]];

        $(function() {
            $('#orderModal').on('hide.bs.modal', function () {
                $(".fileinput-remove-button").click();
            });

            $("#taskfileinput").fileinput({
                theme: 'explorer-fas',
                uploadUrl: "/salesman/todaytask/commitTask",
                overwriteInitial: false,
                initialPreviewAsData: true,
                uploadAsync: false,
                showUpload: false,
                dropZoneTitle:"可拖拽到此区域，最多支持5张图片,文件大小不超过1M",
                showRemove: true,
                showPreview: true,
                maxFileCount: 5,
                maxFileSize: 1024,
                allowedFileExtensions: ['jpg', 'png'],
                validateInitialCount:true,
                enctype: 'multipart/form-data',
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                uploadExtraData: function(previewId, index) {   //额外参数的关键点
                    return {
                        remark: $("#remark").val(),
                        id: $("#id").val()
                    };
                }
            }).on('filepreupload', function(event, data, previewId, index) {     //上传中
                var form = data.form, files = data.files, extra = data.extra,
                    response = data.response, reader = data.reader;
                console.log('文件正在上传');
            }).on("fileuploaded", function (event, data, previewId, index) {    //一个文件上传成功
                console.log('文件上传成功！'+data.response.id);
            }).on('fileerror', function(event, data, msg) {  //一个文件上传失败
                console.log('文件上传失败！'+data.id);
            }).on('filebatchuploadsuccess', function(event,data,previewId,index) {//同步上传回调
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
                parent.layer.alert(data.response.msg);
            });

            $("#fileinput").fileinput({
                theme: 'explorer-fas',
                uploadUrl: "/salesman/todaytask/commitOrder",
                overwriteInitial: false,
                height: 100,
                initialPreviewAsData: true,
                uploadAsync: false,
                allowedFileExtensions: ['jpg', 'png'],
                enctype: 'multipart/form-data',
                showUpload: false,
                showRemove: true,
                showPreview: false,
                maxFileCount: 1,
                maxFileSize: 1024,
                dropZoneEnabled: false,
                validateInitialCount:true,
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                uploadExtraData: function(previewId, index) {   //额外参数的关键点
                    return {
                        promotersUnitPriceRemark: $("#promotersUnitPriceRemark").val(),
                        id: $("#orderId").val(),
                        promotersModifyUnitPrice: $("#promotersModifyUnitPrice").val()
                    };
                }
            }).on('filepreupload', function(event, data, previewId, index) {     //上传中
                var form = data.form, files = data.files, extra = data.extra,
                    response = data.response, reader = data.reader;
                layer.alert('文件正在上传');
            }).on("fileuploaded", function (event, data, previewId, index) {    //一个文件上传成功
                layer.alert('文件上传成功！'+data.response.msg);
            }).on('fileerror', function(event, data, msg) {  //一个文件上传失败
                layer.alert('文件上传失败！'+data.response.msg);
            }).on('filebatchuploadsuccess', function(event,data,previewId,index) {//同步上传回调
                layer.alert(data.response.msg);
                //清空模态框里的所有值
                $(event.target)
                    .fileinput('clear')
                    .fileinput('unlock');
                $(event.target)
                    .parent()
                    .siblings('.fileinput-remove')
                    .hide();
                $("#promotersUnitPriceRemark").val("");
                $("#platformNickname").val("");
                $("#orderId").val("");
                //隐藏模态框
                $('#orderModal').modal('hide');
                $.table.refresh();
            });

            var options = {
                url: "/salesman/todaytask/todaytaskDetailByTaskId/" + $("#id").val(),
                method: "get",
                showSearch: false,
                showToggle: false,
                columns: [
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'taskNo',
                    align: 'center',
                    title: '任务编码',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
				},
                {
                    field: 'orderDate',
                    align: 'center',
                    title: '订单日期',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
				},
                {
                    field: 'shopName',
                    align: 'center',
                    title: '店铺名',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
                },
                {
                    field: 'callCenter',
                    align: 'center',
                    title: '客服',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
                },
                {
                    field: 'pictureUrl',
                    align: 'center',
                    title: '商品主图',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>请验证呢称</span>"
                        }{
                            return imageView(row.pictureUrl, index, row.taskNo);
                        }
                    }
				},
                {
                    field: 'keyword',
                    align: 'center',
                    title: '关键词',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
                },
                {
                    field: 'unitPrice',
                    align: 'center',
                    title: '单价/元',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
				},
                {
                    field: 'unitPriceRemark',
                    align: 'center',
                    title: '单价备注',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
                },
                {
                    field: 'specialRemarks',
                    align: 'center',
                    title: '特殊备注',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
                },
                {
                    field: 'platformNickname',
                    align: 'center',
                    title: '买家昵称',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
                },
                {
                    field: 'hasNicknameVerification',
                    align: 'center',
                    title: '昵称验证',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(nicknameVerificationDatas, value);
                    }
                },
                {
                    field: 'promotersModifyUnitPrice',
                    align: 'center',
                    title: '实际单价/元',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
                },
                {
                    field: 'salesmanCommitUrl',
                    align: 'center',
                    title: '买家拍照',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>请验证呢称</span>"
                        }else{
                            return imageView4Buyer(row.salesmanCommitUrl, index, row.taskNo);
                        }
                    }
                },
                {
                    field: 'status',
                    align: 'center',
                    title: '订单状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(orderStatusDatas, value);
                    }
                },
                {
                    field: 'promotersUnitPriceRemark',
                    align: 'center',
                    title: '买家备注',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            return "<span class='mosaic'>" + value + "</span>";
                        }else{
                            return value;
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        if(row.hasNicknameVerification === "1"){
                            var actions = [];
                            actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="gavelDialog(\'' + index +  "\',\'" + row.id + "\',\'"  + row.taskNo + "\',\'" + (index+1) + '\')"><i class="fa fa-gavel myGavel"></i>昵称验证</a>');
                            return actions.join('');
                        }else{
                            var actions = [];
                            actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="commitOrderDialog(\'' + index + "\',\'" + row.salesmanCommitUrl + "\',\'" + row.promotersUnitPriceRemark  +  "\',\'" + row.id + "\',\'" + row.promotersModifyUnitPrice + "\',\'" + row.status  + "\',\'" + row.taskNo + "\',\'" + (index+1) + '\')"><i class="fa fa-check mysubmit"></i>提交</a>');
                            return actions.join('');
                        }
                    }
                }]
            };
            $.table.init(options);
        });

        function gavelDialog(index,id,taskNo,rank) {
            if(status === '0'){
                layer.alert("此订单已经提交，无需重复提交");
                return;
            }
            $("#titleGavel").html("-"+ rank + '-' + taskNo);
            $("#gavelId").val(id);

            var trHtml = $("#form-task-detail-query").find("tr[data-index=" + index + "]").find(".myGavel");
            $("#gavelModal").css({'margin-top': trHtml.offset().top});
            $('#gavelModal').modal('show');
            $('.modal-open').find('.modal-backdrop').remove();
        }

        function commitOrderDialog(index,salesmanCommitUrl,promotersUnitPriceRemark,id,promotersModifyUnitPrice,status,taskNo,rank) {
            if(status === '0'){
                layer.alert("此订单已经提交，无需重复提交");
                return;
            }
            $("#titleOrder").html("-"+ rank + '-' + taskNo);

            if(promotersUnitPriceRemark === 'null'){
                $("#promotersUnitPriceRemark").val('');
            }else {
                $("#promotersUnitPriceRemark").val(promotersUnitPriceRemark);
            }
            $('#img').val(salesmanCommitUrl);
            $("#orderId").val(id);
            $("#promotersModifyUnitPrice").val(promotersModifyUnitPrice);
            var trHtml = $("#form-task-detail-query").find("tr[data-index=" + index + "]").find(".mysubmit");
            $("#orderModal").css({'margin-top': trHtml.offset().top});
            $('#orderModal').modal('show');
            $('.modal-open').find('.modal-backdrop').remove();
        }

        function submitHandler(index, layero) {
            $("#taskfileinput").fileinput("upload");
        }

        function commitOrder() {
            var promotersModifyUnitPriceReg = /(^[1-9]\d*(\.\d{1,2})?$)|(^0(\.\d{1,2})?$)/;
            var promotersModifyUnitPrice = $("#promotersModifyUnitPrice").val();
            if(!promotersModifyUnitPriceReg.test(promotersModifyUnitPrice)){
                layer.alert('请输入正确的产品价格:整数或者保留两位小数');
                return;
            }
            $("#fileinput").fileinput("upload");
        }

        function validateNickName() {
            var platformNickname = $("#platformNickname").val();
            var gavelId = $("#gavelId").val();
            if(platformNickname.trim() === ''){
                layer.alert('买家昵称不能为空');
                return;
            }
            $.operate.submit("/salesman/todaytask/validateNickName","post","json",{id:gavelId , platformNickname:platformNickname.trim()});
            $('#gavelModal').modal('hide');
        }
        var image = new Viewer(document.getElementById('viewer'),{
            fullscreen:false
        });

        function closeWin() {
            $('#pictureModal').modal('hide');
        }

        function showPictureDialog(url,index,taskNo) {
            $("#titlePicture").html("-"+ (parseInt(index) + 1) + '-' + taskNo);
            $('#goodsPicture').attr('src',url);
            var trHtml = $("#form-task-detail-query").find("tr[data-index=" + index + "]").find(".myPicture");
            $("#pictureModal").css({'margin-top': trHtml.offset().top});
            $('#pictureModal').modal('show');
            $('.modal-open').find('.modal-backdrop').remove();
        }

        // 图片预览
        function imageView(url, index, taskNo) {
            if ($.common.isNotEmpty(url)) {
                return $.common.sprintf("<img class='img-circle img-xs myPicture' data-height='auto' data-width='auto'  src='%s' onclick='showPictureDialog(\"" + url + "\",\"" + index + "\",\"" + taskNo + "\")'/>", url);
            } else {
                return $.common.nullToStr(url);
            }
        }

        var viewer4BuyerPicture = new Viewer(document.getElementById('viewer4BuyerPicture'),{
            fullscreen:false
        });

        function closeBuyerPictureWin() {
            $('#buyerPictureModal').modal('hide');
        }

        function showPictureDialog4Buyer(url,index,taskNo) {
            $("#titlePicture4Buyer").html("-"+ (parseInt(index) + 1) + '-' + taskNo);
            $('#buyerPicture').attr('src',url);
            var trHtml = $("#form-task-detail-query").find("tr[data-index=" + index + "]").find(".buyerPicture");
            $("#buyerPictureModal").css({'margin-top': trHtml.offset().top});
            $('#buyerPictureModal').modal('show');
            $('.modal-open').find('.modal-backdrop').remove();
        }

        // 图片预览
        function imageView4Buyer(url, index, taskNo) {
            if ($.common.isNotEmpty(url)) {
                return $.common.sprintf("<img class='img-circle img-xs buyerPicture' data-height='auto' data-width='auto'  src='%s' onclick='showPictureDialog4Buyer(\"" + url + "\",\"" + index + "\",\"" + taskNo + "\")'/>", url);
            } else {
                return $.common.nullToStr(url);
            }
        }
    </script>
    <style type="text/css">
        span.mosaic {
            color: transparent;
            text-shadow: 0 0 10px rgba(0,0,0,0.5);
            filter: DXImageTransform.Microsoft.Blur(pixelradius=2);
            zoom: 1;
        }
    </style>
</body>
</html>