<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                <h4 class="text-danger">用于展示当前系统用户信息数据</h4>
            </blockquote>
            <hr>
        </div>
        <div class="col-sm-4">
			<h2><strong th:text="${user.userName}"></strong></h2>
			<small>用户昵称</small>
            <br>
        </div>
        <div class="col-sm-4" th:switch="${user.userType}">
            <div th:case="'00'">
                <h2><strong th:text="${user.userId}"></strong></h2>
                <small>用户编号</small>
            </div>
            <div th:case="'01'">
                <h2><strong th:text="${salesManLeaderId}"></strong></h2>
                <small>业务组长编号</small>
            </div>
            <div th:case="'02'">
                <h2><strong th:text="${salesManId}"></strong></h2>
                <small>地推员编号</small>
            </div>
            <div th:case="'03'">
                <h2><strong th:text="${merchantId}"></strong></h2>
                <small>商家编号</small>
            </div>
            <!--<p>一直想做一款后台管理系统，看了很多优秀的开源项目但是发现没有合适自己的。于是利用空闲休息时间开始自己写一套后台系统。如此有了若依管理系统。，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。所有前端后台代码封装过后十分精简易上手，出错概率低。同时支持移动客户端访问。系统会陆续更新一些实用功能。</p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <p>
                <span class="label label-warning">&yen;免费开源</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://gitee.com/y_project/RuoYi" target="_blank">
                    <i class="fa fa-cloud"> </i> 访问码云
                </a>
                <a class="btn btn-white btn-bitbucket" href="http://ruoyi.vip" target="_blank">
                    <i class="fa fa-home"></i> 访问主页
                </a>
            </p>-->
        </div>
        <div class="col-sm-4">
			<h2><strong th:text="${user.loginName}"></strong></h2>
			<small>登录账号</small>
            <!--<ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
				<li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>-->
        </div>
		<div class="col-sm-4">
			<h2><strong th:text="${#strings.isEmpty(user.dept.deptName) ? '无' : user.dept.deptName}"></strong></h2>
			<small>部门</small>
		</div>
		<div class="col-sm-4">
            <div th:switch="${user.userType}">
                <h2 th:case="'00'"><strong>系统用户</strong></h2>
                <h2 th:case="'01'"><strong>业务组长</strong></h2>
                <h2 th:case="'02'"><strong>地推人员</strong></h2>
                <h2 th:case="'03'"><strong>商家</strong></h2>
            </div>
			<small>用户类型</small>
		</div>
		<div class="col-sm-4">
			<h2><strong th:text="${#dates.format(user.createTime, 'yyyy-MM-dd HH:mm:ss')}"></strong></h2>
			<small>创建时间</small>
		</div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>最新公告</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning" style="font-weight: bold" th:text="${#strings.isEmpty(announcement.noticeTitle) ? '无' : announcement.noticeTitle}">
                        </div>
                        <p th:utext="${#strings.isEmpty(announcement.noticeContent) ? '无' : announcement.noticeContent}">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>最新通知</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning" style="font-weight: bold" th:text="${#strings.isEmpty(advise.noticeTitle) ? '无' : advise.noticeTitle}">
                        </div>
                        <p th:utext="${#strings.isEmpty(advise.noticeContent) ? '无' : advise.noticeContent}">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>简介</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning" style="font-weight: bold">
                            	三杰科技
                        </div>
                        <p id="pay-qrcode">
                            公司本着以客户三个满意为基本原则："质量的满意、先进技术的满意，服务的满意"
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
