<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.businessteam.mapper.DtSalesmanMapper">
    
    <resultMap type="DtSalesman" id="DtSalesmanResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="commission"    column="commission"    />
        <result property="receivingLimit"    column="receiving_limit"    />
        <result property="associationStatus"    column="association_status"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <resultMap type="SalesManRespDto" id="SalesManRespDtoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="commission"    column="commission"    />
        <result property="receivingLimit"    column="receiving_limit"    />
        <result property="associationStatus"    column="association_status"    />
        <result property="userName"    column="user_name"    />
        <result property="loginName"    column="login_name"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectDtSalesmanVo">
        select id, user_id, commission, receiving_limit, association_status, del_flag from dt_salesman
    </sql>

    <select id="selectDtSalesmanList" parameterType="SalesManRespDto" resultMap="SalesManRespDtoResult">
        SELECT b.user_id,login_name,user_name,status,create_time,id,commission,receiving_limit,association_status from(
            select user_id,login_name,user_name,status,create_time from sys_user
            <where>
                del_flag = '0'
                and user_type = '02'
                and dept_id = #{depId}
                and user_id != #{leaderId}
            </where>
        )b join dt_salesman ds on ds.user_id = b.user_id
        <where>
            <if test="salesMan.loginName != null and salesMan.loginName != ''"> and login_name = #{salesMan.loginName}</if>
            <if test="salesMan.userName != null and salesMan.userName != ''"> and user_name = #{salesMan.userName}</if>
            <if test="salesMan.associationStatus != null  and salesMan.associationStatus != ''"> and association_Status = #{salesMan.associationStatus}</if>
        </where>
    </select>
    
    <select id="selectDtSalesmanById" parameterType="Long" resultMap="DtSalesmanResult">
        <include refid="selectDtSalesmanVo"/>
        where id = #{id}
    </select>
    <select id="selectUserIdsByIds" resultType="java.lang.Long">
        select user_id from dt_salesman
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectDtSalesmanWithNoDeleteById" parameterType="Long" resultMap="DtSalesmanResult">
        <include refid="selectDtSalesmanVo"/>
        where id = #{id}
        and del_flag = '0'
    </select>
    <select id="selectDtSalesmanByUserId" parameterType="Long" resultMap="DtSalesmanResult">
        <include refid="selectDtSalesmanVo"/>
        where user_id = #{userId}
    </select>
    <select id="selectDtSalesmanByIds" parameterType="Long" resultMap="DtSalesmanResult">
        <include refid="selectDtSalesmanVo"/>
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectIdByUserId" resultType="java.lang.Long">
        <include refid="selectDtSalesmanVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertDtSalesman" parameterType="DtSalesman" useGeneratedKeys="true" keyProperty="id">
        insert into dt_salesman
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            commission,
            receiving_limit,
            <if test="associationStatus != null">association_status,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            #{commission,jdbcType=DECIMAL},
            #{receivingLimit,jdbcType=INTEGER},
            <if test="associationStatus != null">#{associationStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateDtSalesman" parameterType="DtSalesman">
        update dt_salesman
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            commission = #{commission,jdbcType=DECIMAL},
            receiving_limit = #{receivingLimit,jdbcType=INTEGER},
            <if test="associationStatus != null">association_status = #{associationStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateDtSalesmanWithStatus">
        update dt_salesman
        <trim prefix="SET" suffixOverrides=",">
            association_status = #{associationStatus}
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDtSalesmanById" parameterType="Long">
        delete from dt_salesman where id = #{id}
    </delete>

    <delete id="deleteDtSalesmanByIds" parameterType="String">
        update dt_salesman set del_flag = '2' where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="deleteDtSalesmanByUserIds">
        update dt_salesman set del_flag = '2' where user_id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>
</mapper>